<h1>HỌC VỀ *ngIf="expression"</h1>
<h1>cách 1</h1>
<form action="" method="get">
    <label for="expression">Nhập biểu thức:</label><br><br>
    <input type="text" id="expression" name="expression" value=""><br><br>
    <p *ngIf="age>= 15">Bạn trên 15 tuổi !!!!</p>
    <p *ngIf="age < 15">Bạn dưới 15 tuổi !!!!</p>
</form>
<h1>Học về ng template</h1>
<h1>cách 2 </h1>
<div *ngIf="age >= 13; else noPG13">Bạn có thể xem nội dung PG-13</div>
<ng-template #noPG13>
  <div>Bạn không thể xem nội dung PG-13</div>
</ng-template>
<h1>cách 3 </h1>
<div *ngIf="age >= 13; then noPG13 else noPG13">
    <ng-template #noPG13>Bạn còn trẻ quá</ng-template>
    <ng-template #noPG13>Bạn đã trưởng thành</ng-template>
</div>
