<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <!-- phần này mình dùng ngFor và ngIf để truy xuấ dữ liệu -->
     <!-- muốn dùng hì phải inport CommoModule -->
      
    <ng-container *ngFor="let item of user" > 
        <!-- dùng ng-container để lồng ngFor vs ngIF -->
        <tr *ngIf="item.id >= 3">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.date}}</td>
            <td>{{item.address}}</td>
        </tr>
    </ng-container>
  </tbody>
</table>
<div class="caculater">
    <input type="number" name="" [(ngModel)]="a" id="">
    <input type="number" name="" [(ngModel)]="b" id="">
    <div>
        <button (click)="add()">+</button>
        <button (click)="subtract()">-</button>
        <button (click)="multiply()">*</button>
        <button (click)="divide()">/</button>
      </div>
      <div *ngIf="result !== null">
        <h2>Result: {{ result }}</h2>
      </div>
      <div *ngIf="result === null && number2 === 0">
        <h2>Division by zero is not allowed</h2>
      </div>
</div>
